<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="https://i.pinimg.com/originals/da/c4/bf/dac4bfad9993da7eddada931ebedc3e1.jpg">
<link rel="stylesheet" href="/friendRequest.css">

    <title>chat-backend</title>
</head>
<body>
 <% if(userData.length==0){ %>
  <div id="fb">
    <div id="fb-top">
      <p><b>Friend Requests</b><span><%-message%></span></p>
    </div>
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" height="100" width="100" alt="Image of woman">
    <p id="info"><b>no request </b> <br> <span></p>
    </div>
  </div>
 <% } %> 
  
 <% for(var i=0; i<userData.length; i++) {%>
 <div id="fb">
    <div id="fb-top">
      <p><b>Friend Requests</b><span><%-message%></span></p>
    </div>
    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" height="100" width="100" alt="Image of woman">
    <p id="info"><b> <%-userData[i].sender.fullName %></b> <br> <span></p>
    <div id="button-block">
      <a href="/api/acceptRequest/<%-userData[i].sender.id%>" id="confirm">Confirm</a>
      <a href="/api/reject/<%-userData[i].sender.id%>" id="delete">Delete Request</a>
    </div>
  </div>
  <% } %>  
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io()

socket.on("sendRequest",(msg)=>{
const info = document.getElementById("info")

info.innerText = msg
})

</script>


</html>
